In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataFrame = pd.read_csv("veriler.csv")

In [3]:
dataFrame

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [4]:
cinsiyet = dataFrame.iloc[:,-1].values
ulke = dataFrame.iloc[:,0].values

In [5]:
from sklearn import preprocessing

In [6]:
le = preprocessing.LabelEncoder()
ohe = preprocessing.OneHotEncoder()


cinsiyet = le.fit_transform(dataFrame.iloc[:,-1])
ulke = le.fit_transform(dataFrame.iloc[:,0])

cinsiyet = ohe.fit_transform(cinsiyet.reshape(-1,1)).toarray()
ulke = ohe.fit_transform(ulke.reshape(-1,1)).toarray()

In [7]:
cinsiyet = pd.DataFrame(data= cinsiyet,index= range(len(cinsiyet)),columns= ["cinsiyet"," "])
ulke = pd.DataFrame(data= ulke,index= range(len(ulke)),columns= ["fr","tr","us"])

In [8]:
sonuc = pd.concat([ulke,dataFrame.iloc[:,1:4],cinsiyet.iloc[:,0]],axis=1)
sonuc

     fr   tr   us  boy  kilo  yas  cinsiyet
0   0.0  1.0  0.0  130    30   10       1.0
1   0.0  1.0  0.0  125    36   11       1.0
2   0.0  1.0  0.0  135    34   10       0.0
3   0.0  1.0  0.0  133    30    9       0.0
4   0.0  1.0  0.0  129    38   12       1.0
5   0.0  1.0  0.0  180    90   30       1.0
6   0.0  1.0  0.0  190    80   25       1.0
7   0.0  1.0  0.0  175    90   35       1.0
8   0.0  1.0  0.0  177    60   22       0.0
9   0.0  0.0  1.0  185   105   33       1.0
10  0.0  0.0  1.0  165    55   27       0.0
11  0.0  0.0  1.0  155    50   44       0.0
12  0.0  0.0  1.0  160    58   39       0.0
13  0.0  0.0  1.0  162    59   41       0.0
14  0.0  0.0  1.0  167    62   55       0.0
15  1.0  0.0  0.0  174    70   47       1.0
16  1.0  0.0  0.0  193    90   23       1.0
17  1.0  0.0  0.0  187    80   27       1.0
18  1.0  0.0  0.0  183    88   28       1.0
19  1.0  0.0  0.0  159    40   29       0.0
20  1.0  0.0  0.0  164    66   32       0.0
21  1.0  0.0  0.0  166    56   42       0.0

# Cinsiyet tahmin etme

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split( sonuc.drop("cinsiyet",axis=1), sonuc[["cinsiyet"]], test_size=0.33, random_state=42)

Model inşası

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
regression = LinearRegression()
regression.fit(X_train,y_train)

tahmin = regression.predict(X_test)
tahmin

array([[ 0.24954329],
       [-0.00175526],
       [ 0.48764803],
       [ 0.43961346],
       [ 0.4202322 ],
       [ 1.15793677],
       [ 0.56985392],
       [-0.20889606]])

# Boy tahmin etme

In [13]:
boy =sonuc.iloc[:,3:4].values
sol = sonuc.iloc[:,:3]
sag = sonuc.iloc[:,4:]

veri = pd.concat([sol,sag],axis=1)

x_train, x_test,y_train,y_test = train_test_split(veri,boy,test_size=0.33, random_state=0)

In [14]:
regression2 = LinearRegression()
regression2.fit(X_train,y_train)

tahmin2 = regression2.predict(X_test)
tahmin2

array([[182.45694345],
       [140.61822901],
       [161.77612081],
       [190.83525952],
       [166.3921945 ],
       [179.2150611 ],
       [177.97580864],
       [138.12195356]])

Tüm columnları modele verdiğimizde çok da sağlıklı bir model oluşmayabilir. Peki hangi columnları(değişkenleri) modele verelim? Bunun için BACKWARD ELIMINATION kullanıyoruz.

In [15]:
import statsmodels.api as sm

In [16]:
# 1
X = np.append(arr = np.ones((22,1)).astype(int), values=veri, axis=1)

X = X[:,[0,1,2,3,4,5,6]]
model = sm.OLS(boy,X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Thu, 10 Aug 2023   Prob (F-statistic):           5.41e-07
Time:                        13:41:34   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         81.7108      5.354     15.260      0.000      70.360      93.062
x1            32.3580      3.477      9.305      0.000      24.986      39.730
x2            26.5922      2.793      9.522      0.000      20.672      32.512
x3            22.7606      4.534      5.020      0.000      13.149      32.372
x4             0.9211      0.119      7.737      0.000       0.669       1.174
x5             0.0814      0.221      0.369      0.717      -0.386       0.549
x6           -10.5980      5.052     -2.098      0.052     -21.308       0.112
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                     3.17e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.13e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [17]:
# 2
X = np.append(arr = np.ones((22,1)).astype(int), values=veri, axis=1)

X_l = veri.iloc[:,[0,1,2,3,4,5]].values
X_l = np.array(X_l,dtype=float)
model = sm.OLS(boy,X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Thu, 10 Aug 2023   Prob (F-statistic):           5.41e-07
Time:                        13:41:34   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           114.0688      8.145     14.005      0.000      96.802     131.335
x2           108.3030      5.736     18.880      0.000      96.143     120.463
x3           104.4714      9.195     11.361      0.000      84.978     123.964
x4             0.9211      0.119      7.737      0.000       0.669       1.174
x5             0.0814      0.221      0.369      0.717      -0.386       0.549
x6           -10.5980      5.052     -2.098      0.052     -21.308       0.112
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         524.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
veri

     fr   tr   us  kilo  yas  cinsiyet
0   0.0  1.0  0.0    30   10       1.0
1   0.0  1.0  0.0    36   11       1.0
2   0.0  1.0  0.0    34   10       0.0
3   0.0  1.0  0.0    30    9       0.0
4   0.0  1.0  0.0    38   12       1.0
5   0.0  1.0  0.0    90   30       1.0
6   0.0  1.0  0.0    80   25       1.0
7   0.0  1.0  0.0    90   35       1.0
8   0.0  1.0  0.0    60   22       0.0
9   0.0  0.0  1.0   105   33       1.0
10  0.0  0.0  1.0    55   27       0.0
11  0.0  0.0  1.0    50   44       0.0
12  0.0  0.0  1.0    58   39       0.0
13  0.0  0.0  1.0    59   41       0.0
14  0.0  0.0  1.0    62   55       0.0
15  1.0  0.0  0.0    70   47       1.0
16  1.0  0.0  0.0    90   23       1.0
17  1.0  0.0  0.0    80   27       1.0
18  1.0  0.0  0.0    88   28       1.0
19  1.0  0.0  0.0    40   29       0.0
20  1.0  0.0  0.0    66   32       0.0
21  1.0  0.0  0.0    56   42       0.0

1 ve 2 olarak gösterdiğim kod bloklarının işlevi aynıdır. Dilediğinizi kullanabilirsiniz.

Yukarıdaki rapora bakıldığında:
5.sütunun p-value değeri yüksek olduğu için modelden çıkarabiliriz.

Şimdi 5.sütunu çıkarıp tekrardan teste sokalım

In [19]:
X = np.append(arr = np.ones((22,1)).astype(int), values=veri, axis=1)

X_l = veri.iloc[:,[0,1,2,3,5]].values
X_l = np.array(X_l,dtype=float)
model = sm.OLS(boy,X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Thu, 10 Aug 2023   Prob (F-statistic):           9.32e-08
Time:                        13:41:34   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           115.6583      6.734     17.175      0.000     101.451     129.866
x2           109.0786      5.200     20.978      0.000      98.108     120.049
x3           106.5445      7.090     15.026      0.000      91.585     121.504
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5           -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

P>|t| kısmına bakınca eldeki sonuçların fena olmadığını ve sadece 5.sütunu çıkararak modeli tekrardan oluşturabileceğimizi düşünüyorum.

# Yeniden model oluşturma

In [20]:
x_train, x_test,y_train,y_test = train_test_split(veri.drop("yas",axis = 1),boy,test_size=0.33, random_state=0)

In [21]:
regression3 = LinearRegression()
regression3.fit(x_train,y_train)

tahmin3 = regression3.predict(x_test)
tahmin3

array([[181.89803222],
       [153.24827689],
       [160.08774579],
       [157.15654483],
       [131.11471282],
       [172.12736238],
       [148.36294197],
       [156.49429062]])

In [22]:
tahmin2df = pd.DataFrame(data= tahmin2,index=range(len(tahmin2)),columns=["Eski model"])
tahmin3df = pd.DataFrame(data=tahmin3,index=range(len(tahmin2)),columns=["Yeni model"])
gercekdf= pd.DataFrame(data=y_test,index=range(len(x_test)),columns=["Gerçek değer"])

fark = pd.concat([tahmin2df,tahmin3df,gercekdf],axis= 1)
fark

   Eski model  Yeni model  Gerçek değer
0  182.456943  181.898032           164
1  140.618229  153.248277           165
2  161.776121  160.087746           167
3  190.835260  157.156545           162
4  166.392195  131.114713           125
5  179.215061  172.127362           166
6  177.975809  148.362942           155
7  138.121954  156.494291           159