In [1]:
import numpy as np
import pandas as pd

In [2]:
veri = pd.read_csv("Social_Network_Ads.csv")
veri

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [3]:
X = veri.iloc[:,[2,3]]
y = veri.iloc[:,4]

Veri setini eğitim ve test olmak üzere bölelim.

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, y_train, y_test = train_test_split(  X, y, test_size=0.33, random_state=42)

Verileri ölçekleyerek standardize edelim.

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

Sınıflandırma modeli için support vector classifier kullanalım.

In [8]:
from sklearn.svm import SVC

svc = SVC(kernel = "rbf", random_state=0)
svc.fit(X_train,y_train)

svc_pred = svc.predict(X_test)

Bu bir sınıflandırma modeli olduğundan model başarımızı confusion matrix sayesinde görebiliriz.

In [17]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,svc_pred)
cm

array([[76,  4],
       [ 2, 50]])

# Cross validation

In [18]:
from sklearn.model_selection import cross_val_score

In [19]:
cvs = cross_val_score(estimator=svc, X = X_train, y = y_train, cv = 4)

In [20]:
cvs.mean()

0.8805970149253731

In [21]:
cvs.std()

0.031661497665069295