In [1]:
import numpy as np
import pandas as pd

In [2]:
dataFrame = pd.read_csv("veriler.csv")
dataFrame

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [12]:
X = dataFrame.iloc[:,1:4]
Y = dataFrame.iloc[:,4]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split( X, Y, test_size=0.33, random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
knn = KNeighborsClassifier(n_neighbors=5, metric="minkowski")
knn.fit(x_train,y_train)

y_pred_first = knn.predict(x_test)
y_pred_first

array(['e', 'e', 'e', 'e', 'k', 'e', 'e', 'k'], dtype=object)

In [19]:
from sklearn.metrics import confusion_matrix

In [26]:
cm = confusion_matrix(y_test,y_pred_first)
cm

array([[0, 1],
       [6, 1]])

## Bu sefer en yakın 1 komşuya bakarak bir model inşa edelim

In [21]:
knn_new = KNeighborsClassifier(n_neighbors=1, metric="minkowski")
knn_new.fit(x_train,y_train)

y_pred_last = knn_new.predict(x_test)
y_pred_last

array(['k', 'k', 'e', 'k', 'e', 'k', 'k', 'k'], dtype=object)

In [24]:
cm2 = confusion_matrix(y_test,y_pred_last)
cm2

array([[1, 0],
       [1, 6]])

Yani çok fazla komşuya bakmak sanılanın aksine iyi bir şey değil.